html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}

 #main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    color: white;
    align-items: center;
    justify-content: center;
    display: flexbox;
}


.d1 {
    width: 25rem;
    height: 35rem;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.48);
  }


h1 {

    color: black;
}


.spacer {
    height: 1.2rem;
}

.dateStyle {
    
    width: 300;
}